.hero-wrapper{
    color: white;
    position: relative;
    background-image: url('../../assets/purple_image.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.hero-title{
    
    position: relative;
    z-index: 1;
    font-size: 1.75rem;

}
.hero-section{
    padding: 5%;
}

.hero-des{ 
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background-color: rgba(0, 0, 255, 0.5); 
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 8%;
    margin-top: 20px;
    
    
  
   }
   .hero-des:hover{
      cursor: pointer;
      transform: scale(1.1);
      background-color: blue;
    }